<div class="twelve columns">
	<div class="row">
		<div class="eight columns centered">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "nice"}) do |f| %>
	  			<%= devise_error_messages! %>
	  			<fieldset class="signup">
		  			<legend>Registreren</legend>
		  			<p>Vul hieronder je gewenste gevens in. Velden met een * zijn verplicht</p>
					<div>
						<%=f.label :profession, 'Ik ben een:*' %>
						<%=f.select :profession, options_for_select([['Hulpzoekende',1],['Vrijwilliger',2],['Professional',3]]) %>
					</div>
					<div class="clear">
						<%= f.label :name, 'Voornaam:*' %>
						<%= f.text_field :name, :class => "input-text"%>
					</div>
					<div>
						<%= f.label :surname, 'Achternaam:*' %>
						<%= f.text_field :surname, :class => "input-text"%>
					</div>
					<div>
						<%= f.label :sex, 'Geslacht:*' %>
						<%= f.radio_button :sex, 'm', :class => "left" %> 
  						<%= f.label :sex, 'Man', :value => 'm', :class => "left" %>
  						<%= f.radio_button :sex, 'f', :class => "left" %> 
  						<%= f.label :sex, 'Vrouw', :value => 'f', :class => "left" %>
					</div>
					<div class="clear">
						<%= f.label :birth_date, 'Geboortedatum:*' %>
		    			<%= f.date_select :birth_date, :start_year => Date.current.year, :end_year => 1920 %>
	    			</div>
					<div  class="clear">
						<%= f.label :street, 'Straat:*' %>
						<%= f.text_field :street, :class => "input-text"%>
					</div>
					<div >
						<%= f.label :street_number, 'Straat nummer:*' %>
						<%= f.text_field :street_number, :class => "input-text"%>
					</div>
					<div>
						<%= f.label :city, 'Stad:*' %>
						<%= f.text_field :city, :class => "input-text"%>
					</div>
					<div>
						<%= f.label :postalcode, 'Postcode:*' %>
						<%= f.text_field :postalcode, :class => "input-text"%>
					</div>
					<div>
						<%= f.label :email, 'E-mail:*' %>
						<%= f.email_field :email, :class => "input-text"%>
					</div>
					<div>
						<%= f.label :password, 'Wachtwoord:*' %>
				  		<%= f.password_field :password, :class => "input-text" %>
			  		</div>
			  		<div>
				  		<%= f.label :password_confirmation, 'Herhaal Wachtwoord:*' %>
						<%= f.password_field :password_confirmation, :class => "input-text" %>
					</div>
					<div><%= f.submit "Registreren" , :class => "button nice blue radius medium"%></div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>
