<%= form_for(@task, :html => {:class => "nice"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset class="signup">
    <legend>Registreren</legend>
    <p>Vul hieronder je gewenste gevens in. Velden met een * zijn verplicht</p>
    <div>
      <%= f.label :title, "Korte omschrijving opdracht:" %>
      <%= f.text_field :title, :placeholder => "Bijv. Schoonmaken in huis", :class => "input-text" %>
    </div>
    <div>
      <%= f.label :description, "Uitgebreide omschrijving opdracht:" %>
      <%= f.text_area :description, :placeholder => "Licht toe waar u precies naar op zoek bent. Specificeer voor wanneer, hoelang en voor wie u hulp zoekt.", :class => "input-text" %>
    </div>
    <div>
      <%= f.label :categorie_id, "Gewenste dienst:" %>
      <%= f.collection_select(:categorie_id, Categorie.all, :id, :name) %>
    </div>
    <div>
      <%= f.label :city %>
      <%= f.text_field :city, :class => "input-text" %>
    </div>
    <div>
      <%= f.label :type %>
      <%= f.check_box :type, :class => "input-text" %>
    </div>  
    <div>
      <%= f.submit %>
    </div>
<% end %>
