<div class="eight columns centered">
	<%= form_for(@task, :html => {:class => "nice"}) do |f| %>
  		<% if @task.errors.any? %>
	   		<div id="error_explanation">
	    		<ul>
	      			<% @task.errors.full_messages.each do |msg| %>
	        			<li><%= msg %></li>
	      			<% end %>
	      		</ul>
	    	</div>
	  	<% end %>
	
		<fieldset class="signup">
   			<legend>Opdracht bewerken</legend>
    		<p>Vul hieronder je gewenste gevens in. Velden met een * zijn verplicht</p>
    		<div>
     			<%= f.label :title, "Korte omschrijving opdracht:*" %>
      			<%= f.text_field :title, :placeholder => "Bijv. Schoonmaken in huis", :class => "input-text" %>
    		</div>
    		<div>
		    	<%= f.label :description, "Uitgebreide omschrijving opdracht:*" %>
		    	<%= f.text_area :description, :placeholder => "Licht toe waar u precies naar op zoek bent. Specificeer voor wanneer, hoelang en voor wie u hulp zoekt.", :class => "input-text", :rows => 5%>
   			</div>
   			<div>
      			<%= f.label :categorie_id, "Gewenste dienst:*" %>
      			<%= f.collection_select(:categorie_id, Categorie.all, :id, :name) %>
    		</div>
		    <div class="clear">
		      <%= f.label :city, 'Stad:*' %>
		      <%= f.text_field :city, :class => "input-text" %>
		    </div>
		    <div>
		    	<%= f.label :profession, "Geschikt voor:" %>
		    	<%= select_tag(:profession, options_for_select([['Hulpzoekende',1],['Vrijwilliger',2],['Professional',3]], 1)) %>
		    </div>
		    <div class="clear">
		    	<%= f.label :time, "Tijdsduur:" %>
		    	<%= select_tag(:time, options_for_select([['1x per week',1],['1 dag per week',2],['Meer dan 1 dag per week',3]], 1)) %>
		    </div>  
		    <div class="clear">
		      <%= f.submit "Update", :class => 'button nice blue radius medium' %> 
		    </div>
		    <div>
		    	<%= link_to 'Bekijken', @task, :class => 'left button nice green radius small' %> <%= link_to 'Terug', tasks_path, :class => 'button nice white radius small left' %><%= link_to 'Destroy', @task, confirm: 'Are you sure?', method: :delete %>
		    </div>
		</fieldset>
	<% end %>
</div>
	

