<div class="three columns infobar">
    <h4>Criterea zoekopdrachten</h4>
    
    <%= form_tag(tasks_path, :method => "get", :class => "nice sidebar") do %>
      <div>
      <%= label_tag :city, 'Omgeving' %>
      <%= text_field_tag :city, params[:city], :placeholder => "Stad" %>
      </div>
      <div>
      <%= label_tag :categorie, 'Type Dienst' %>
       <% @categories.each do |c| %>
        <%= radio_button_tag :categorie, c.id %>  <%= c.name %> </br>
       <% end %>
      </div>
      <div>
      <%= label_tag :profession, 'Geschikt voor:' %>
      <%= radio_button_tag :profession, '1' %> Vrijwilliger</br>
      <%= radio_button_tag :profession, '2' %> Proffesionals
      </div>
      <div>
      <%= label_tag :time, 'Tijdsbesteding:' %>
      <%= select_tag(:time, options_for_select([['1x per week',1],['1 dag per week',2],['Meer dan 1 dag per week',3]], 1)) %>
      </div>
      <div><%= submit_tag "Zoeken", :name => nil, :class => 'blue x-small radius button'%></div>
    <% end %>
</div>
  <div class="nine columns">
  <h3>Gevonden opdrachten (<%= @tasks.count %>)</h3>

<% @tasks.each do |task| %> 
  <%= link_to(task) do %>
  <div class="opdracht">
      <h4><%= task.title %></h4>
      <p><%= task.description %></p>
      <p>Geplaatst op: <%= task.created_at %> - Voor: <%= task.profession == 1  ? "Vrijwilligers" : "Professionals" %> // <%= task.categorie_id %></p>
    </div>
   <% end %>
<% end %>
  </div>

