<div class="three columns infobar">
<h3>Infobar</h3>
<p>
  <strong>Locatie:</strong></br>
  <%= @task.city %>
</p>
<p>
  <strong>Type Dienst:</strong></br>
  <%= @task.categorie_id %>
</p>
<p>
  <strong>Geschikt voor:</strong></br>
  <%= @task.profession == 1  ? "Vrijwilligers" : "Professionals" %>
</p>
<p>
  <strong>Tijdsbesteding:</strong></br>
  <%= @task.time %>
</p>
<p>
  <strong>Geplaatst op:</strong></br>
  <%= @task.created_at %>
</p>
<p>
<%= link_to 'Bewerken', edit_task_path(@task) %> |
<%= link_to 'Terug', tasks_path %></p>
</div>
<div class="nine columns">
<h2><%= @task.title %></h2>
<p>
  <strong>Beschrijving:</strong>
  <%= @task.description %>
</p>
</div>
</div>