<div class="eight columns centered">
	<h1>Gevonden Profielen (<%= @users.count %>)</h1>
	<div>
		<p><b>Let op! U kunt niet direct contact opnemen met de hulpverleners! U kunt een opdracht aanmaken waar u kunt aangeven waar u naar op zoekt bent. Deze opdracht wordt verstuurd naar alle hulpverleners die die aansluiten bij de opdracht. Zij kunnen vervolgens op de opdracht reageren.</b></p>
	</div>
	<% @users.each do |user| %>
			<div>
				<h4><%= user.name %></h4>
				<p><%= user.about %></p>
				<p><b>Woonplaats:</b> <%=user.city %>     <b>Geschikt voor: </b> <%= give_profession(user.profession) %> </p>
			</div>
	<% end %>
</div>