<div class="row">
	<div class="twelve columns">
		<h1 class="title">Mijn Profiel</h1>
	</div>
<div class="row">
	<div class="three columns infobar hide-on-phones">
		<h3>Infobar</h3>
		<img src="http://placehold.it/200x200">
		<p><%= @user.name %></p>
		<ul>
			<li>Aangeboden klussen: 0</li>
			<li>Voltooide klussen: 0</li>
			<li>Gemiddelde score: nvt</li>
		</ul>
	</div>
	<div class="nine columns hide-on-">
		<dl class="nice contained mobile tabs">
	  		<dd><a href="#nice1" class="active">Mijn Gegevens</a></dd>
	  		<dd><a href="#nice2">Mijn Klussen (<%= @user.tasks.count %>)</a></dd>
	  		<dd><a href="#nice3">Mijn Contactpersonen</a></dd>
		</dl>
		<ul class="nice tabs-content contained">
			<li class="active" id="nice1Tab">
				<ul>
					<li><strong>Naam: </strong><%= @user.name %> <%= @user.surname %></li>
					<li><strong>E-mail: </strong><%= @user.email %></li>
					<li><strong>Geslacht: </strong><%= @user.sex == "m"  ? "Man" : "Vrouw" %></li>
					<li><strong>Geboorte datum: </strong><%= @user.birth_date %></li>
					<li><strong>Straat: </strong><%= @user.street %> <%= @user.street_number%></li>
					<li><strong>Stad: </strong><%= @user.city %></li>
					<li><strong>Postcode: </strong><%= @user.postalcode %></li>
					<li><strong>Beschrijving: </strong><%= @user.about %></li>
				</ul>
				<%= link_to('Bewerken', edit_user_registration_path, :class => 'button nice blue small radius') %>
			</li>
		  <li id="nice2Tab">
		  	<% unless @user.tasks.count < 1 %>
		  		<table>
		  			<tr>
		  				<th>Korte beschrijving </th>
		  				<th>Volledige beschrijving </th>
		  				<th></th>
		  			</tr>
		  			<% @user.tasks.each do |task| %>
		  			<tr>
		  				<td><%= task.title %></td>
		  				<td><%= task.description %></td>
		  				<td><%= link_to'Bekijken', task %></td>
			  		</tr>
		  			<% end %>
		  		</table>
		  	<% end %>
		  </li>
		  <li id="nice3Tab">This is nice tab 3's content. It's, you know...okay.</li>
		</ul>
	</div>

