<div class="twelve columns">
	<div class="row">
		<div class="eight columns centered">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :class => "nice"}) do |f| %>
	  			<%= devise_error_messages! %>
	  			<%= f.hidden_field :reset_password_token %>
	  			<fieldset class="signup">
	  			<legend>Wachtwoord veranderen</legend>
	  			<p>Vul hieronder een nieuw wachtwoord in</p>
				<div><%= f.label :password, "Nieuw wachtwoord" %>
				<%= f.password_field :password %></div>
				<div><%= f.label :password_confirmation, "Confirm new password" %>
  				<%= f.password_field :password_confirmation %></div>
				<div><%= f.submit "Verander" , :class => "button nice blue radius medium"%></div>
				</fieldset>
			<% end %>
</div>
</div>
