<div class="twelve columns">
	<div class="row">
		<div class="eight columns centered">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => "nice"}) do |f| %>
	  			<%= devise_error_messages! %>
	  			<fieldset class="signup">
	  			<legend>Wachtwoord vergeten?</legend>
	  			<p>Vul hieronder je e-mail in en ontvang een link om je wachtwoord te resetten.</p>
				<div><%= f.label :email, 'E-mail' %>
				<%= f.email_field :email, :class => "input-text"%></div>
				<div><%= f.submit "Verstuur" , :class => "button nice blue radius medium"%></div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>