<%= render 'home/search-widget'%>
<div class="row"><div class="six columns centered center-on-phones"><h2>Hoe werkt Crowdzorg?</h2></div>
<div class="row">
	<div class="ten columns centered">
		<div class="stappen">
		<h3>Stap 1</h3>
		<p><em>"Plaats geheel vrijblijvend een opdracht of meld u aan als hulpverlener"</em></p>
		</div>
		<div class="stappen">
		<h3>Stap 2</h3>
		<p><em>"Uw opdracht wordt bekeken door hulpverleners en hopelijk ontstaat er een match"</em></p>
		</div>
		<div class="stappen">
		<h3>Stap 3</h3>
		<p><em>"Als er een match is gevonden resulteerd dit hopelijk een een succesvol voltooide opdracht!"</em></p>
		</div>
	</div>
</div>