<div class="ten columns center-on-phones centered"><h1>Over Crowdzorg</h1></div>
</div>
<div class="row">
<div class="nine columns centered">
<h2>Ons doel</h2>
<p><strong>Crowdzorg is oorspronkelijk opgericht met het doel om de kosten in de zorg de komende 5 jaar terug te brengen.</strong></p>
<p>Door middel van de service die we leveren verminderd de druk op de zorgsector, mensen regelen hun zorg nu immers zelf. Hierdoor wordt hun zelfredzaamheid groter en is hier geen medisch personeel meer voor nodig. Deze kunnen vervolgens weer voor andere gevallen worden ingezet.</p>
</div>