<div class="ten columns center-on-phones centered"><h1>Contact</h1></div>
</div>
<div class="row">
<div class="nine columns centered">
<p>Je kunt ons bereiken via:</p>
<ul>
<li><strong>Email: </strong>crowdzorg@mediazorg.nl</li>
</ul>
</div>