<div class="twelve columns">
	<div class="row">
		<div class="eight columns centered">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "nice"}) do |f| %>
	  			<%= devise_error_messages! %>
    <% unless alert.nil? %>
      <div class="alert-box error">
        <%= alert %>
        <a href="" class="close">&times;</a>
      </div>
    <% end %>
	  			<fieldset class="signup">
	  			<legend>Inloggen</legend>
				<div><%= f.label :email, 'E-mail' %>
				<%= f.email_field :email, :class => "input-text"%></div>
				<div><%= f.label :password, 'Wachtwoord' %>
		  		<%= f.password_field :password, :class => "input-text" %></div>
   				<div><%= f.check_box :remember_me, :class => 'left' %> <%= f.label :remember_me, 'Onthouden' %></div>
				<div><%= f.submit "Inloggen" , :class => "button nice blue radius medium"%></div>
				<div> <%= link_to "Registreren", new_user_registration_path %> -  <%= link_to "Wachtwoord vergeten?", new_user_password_path %></div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>
