.signup
{
	padding: 10px;
}

.signup legend
{
	font-size:25px;
	font-weight:bold;
}

.signup select
{
    float: left;
    margin: 0 10px 15px 0;
    padding: 5px;
}

.signup div
{
	margin: 15px auto;
	width:260px;
}

.signup div.field_with_errors
{
	margin:0;
	color:red;
}

.signup .field_with_errors input
{
	margin-top:-9px;
	color:red;
	border:solid 1px red;
}

.signup .field_with_errors label
{
	-moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 red;
    border-color: red;
    border-style: solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-width: 1px 1px 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 5px 7px;
    width: 246px;
}


.signed-in
{
	float: right;
	width: 225px;
	margin: 0;
	height: 60px;
	border:solid 1px #EEEEEE;
	padding:15px;
}

.signed-in ul li
{
	margin: 0 0 0px 15px;
	padding:0;
	list-style-type:square;
}

.infobar
{
	height:500px;
}

.title
{
	background: #efefef;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	font-size: 30px;
    margin: 0 0 20px;
    padding: 5px 20px 2px;
    color:#5e5e5e;
}





header		{ margin: 20px 0 0;}
footer 		{ display: inline;}

.loginform fieldset { text-align: center; padding: 30px}

.loginform
{
	float: right;
	width: 250px;
	margin: 0;
	height: 90px;
}

.loginform .login-input
{
	float:left;
	margin-left:5px;
}

.loginform p
{
	float:left;
	margin: 3px 0 0 10px;
}

.search 
{
	margin: 20px 0 0 -45px;
	height: 45px; 
	background: #fff; 
	border: 1px solid #ddd;
	display: block;
	overflow: hidden;
}

.search-phones
{
	margin: -20px 0 0 0px;
	height: 45px; 
	background: #fff; 
	border: 1px solid #ddd;
	display: block;
	overflow: hidden;
}

.search-phones input.input-search
{
	width: 70% !important;
	margin: 7px; 
}

.search-phones .button-search
{
	background: url(search.gif) no-repeat;
	cursor:pointer;
    width: 25px;
    height: 25px;
    border: none;
    margin:9px;
}

.search .input-search
{
	width:65%; 
	margin: 9px; 
}



.search .button-search
{
	background: url(search.gif) no-repeat;
	cursor:pointer;
    width: 25px;
    height: 25px;
    border: none;
    margin:9px;
}

.form-table
{
	border:none;
}

.form-table td 
{
	margin: 20px 0px 40px 0px;
}


/*************
// Search widget homepage
/**************/
div.search-widget
{
	height:350px;
	width:930px;
	position:relative;
	overflow-x:hidden;
	border: solid block 3px;
}

div.search-widget h3
{
	border-bottom: 1px dashed gray;
    margin: 0 0 20px;
    text-align: center;
}

div.search-widget ul
{
	padding:0px;
	margin:10px;
	position:relative;
	left:0px;
	width:980px;
}

div.search-widget ul li
{
	display:inline;
	list-style-type:none;
	width:100%;
	height:32px;
	margin-bottom: 10px;
	padding-left:70px;
}

div.search-widget ul li a
{
	display:inline;
}

div.search-widget ul li a.level1-back,
div.search-widget ul li a.level2-back
{
	background:none;
	padding:0px;
}

div.search-widget ul li a.level1-back:hover,
div.search-widget ul li a.level2-back:hover
{
	background:none;
	padding:0px;
}

div.search-widget ul li a:hover
{
	background-position: center left;
	background-repeat:no-repeat;
}

div.search-widget ul li ul.go-right1
{
	display:none;
	list-style-type:none;
	margin-left: 970px;
	margin-top:0px;
	position:absolute;
	top:0px;
	width:980px;
}

div.search-widget ul li ul.go-right2
{
	display:none;
	list-style-type:none;
	margin-left: 970px;
	margin-top:0px;
	position:absolute;
	top:0px;
	width:980px;
}

div.search-widget ul li ul.go-left1
{
	display:none;
	list-style-type:none;
	margin-left: -970px;
	margin-top:0px;
	position:absolute;
	top:0px;
	width:980px;
}

div.search-widget ul li ul.go-left2
{
	display:none;
	list-style-type:none;
	margin-left: -970px;
	margin-top:0px;
	position:absolute;
	top:0px;
	width:980px;
}

div.search-widget ul li ul li ul
{
	position:absolute;
	top:0px;
	margin-left: 300px;
	margin-top:0px;
	width:300px;
}

.left1-back, .left2-back, .right1-back, .right2-back {
	float: left;
	margin:40px 0 0 425px;
}

.widget-button
{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font: 17px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	position: relative;
	cursor: pointer;
	border: none;
    display: inline-block;
    height: 200px;
    width: 350px;


    background: #FF9920 url(misc/button-overlay.png) repeat-x 0 0;
	background: #FF9920 url(misc/button-overlay.png) repeat-x 0 0, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
	background: #FF9920 url(misc/button-overlay.png) repeat-x 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
	border: 1px solid #ee8e1c;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.widget-button:hover, .widget-button:focus {background: #db8218 url(misc/button-overlay.png) repeat-x 0 0; border:solid #444 1.5px;}

.widget-button h4
{
	border-bottom: 3px dotted;
    color: #FFFFFF;
    margin: 5px 5px 0;
    padding-bottom: 5px;
    text-align: center;
    font-family:Rockwell;
}

.widget-button h5
{
    color: #FFFFFF;
    float: left;
    font-family: Hammersmith One;
    margin: 25px 0 0 20px;
    padding-bottom: 5px;
    text-align: center;
}

.widget-button h6
{
    color: #FFFFFF;
    float: left;
    font-family: Rockwell;
    font-size: 17px;
    margin: 40px 20px 0;
    padding-bottom: 5px;
    text-align: center;
    width: 225px;
}

.widget-button .arrow-left
{
	margin: 15px 0 0 5px;
	float:left;
}

.widget-button .arrow-right
{
	margin: 15px 0 0 5px;
	float:right;
}

.widget-button p
{
	margin: 10px 0 0 20px;
    width: 225px;
	float:left;
}

.center .widget-button
{
	margin: 20px 0px 40px 0px;
}

.level2
{
	background: #fd7e21 url(misc/button-overlay.png) repeat-x 0 0;
	background: #fd7e21 url(misc/button-overlay.png) repeat-x 0 0, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
	background: #fd7e21 url(misc/button-overlay.png) repeat-x 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%, transparent));
}

.level3
{
	background: #ff4a20 url(misc/button-overlay.png) repeat-x 0 0;
	background: #ff4a20 url(misc/button-overlay.png) repeat-x 0 0, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
	background: #ff4a20 url(misc/button-overlay.png) repeat-x 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%, transparent));
}

.level2:hover, .level2:focus {background: #db5d18 url(misc/button-overlay.png) repeat-x 0 0; border:solid #555 1.5px;}
.level3:hover, .level3:focus {background: #db3d18 url(misc/button-overlay.png) repeat-x 0 0; border:solid #222 1.5px;}


.row
{
	background: #fff;
	padding:10px;
	box-shadow:20px 20px 10px #222222;
}

div.columns .row, .row .row 
{
   background: none repeat scroll 0 0 transparent !important;
   box-shadow: none !important;
}

.stappen
{
	float: left;
	background:#2099ff;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	width:200px;
	height:200px;
	padding: 10px;
	margin: 20px 15px;
}

.stappen h3
{
	margin: 20px 0 20px 55px;
	color: #FFFFFF;
}

.stappen p
{
	color: #FFFFFF;
    margin: 20px 0 20px 20px;
    font-size: 15px;
}

.sidebar div
{
	margin: 20px 0px 40px 0px;
}

.opdracht
{
	border:solid 1px #ddd;
	margin: 15px;
    padding: 10px;
    height:100px;
}

.opdracht h4
{
	border-bottom:1px solid #00A6FC;
}