<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :helpfull %><br />
    <%= f.text_field :helpfull %>
  </div>
  <div class="field">
    <%= f.label :social %><br />
    <%= f.text_field :social %>
  </div>
  <div class="field">
    <%= f.label :dedication %><br />
    <%= f.text_field :dedication %>
  </div>
  <div class="field">
    <%= f.label :accessibility %><br />
    <%= f.text_field :accessibility %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :taks_id %><br />
    <%= f.text_field :taks_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
