<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Helpfull</th>
    <th>Social</th>
    <th>Dedication</th>
    <th>Accessibility</th>
    <th>Content</th>
    <th>Taks</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.helpfull %></td>
    <td><%= review.social %></td>
    <td><%= review.dedication %></td>
    <td><%= review.accessibility %></td>
    <td><%= review.content %></td>
    <td><%= review.taks_id %></td>
    <td><%= review.user_id %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
