<p id="notice"><%= notice %></p>

<p>
  <b>Helpfull:</b>
  <%= @review.helpfull %>
</p>

<p>
  <b>Social:</b>
  <%= @review.social %>
</p>

<p>
  <b>Dedication:</b>
  <%= @review.dedication %>
</p>

<p>
  <b>Accessibility:</b>
  <%= @review.accessibility %>
</p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>

<p>
  <b>Taks:</b>
  <%= @review.taks_id %>
</p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
