<div class="row">
  <div class="twelve columns">
    <ul class="nav-bar">
      <li><%= link_to("Home", root_path)%></li>
      <li><%= link_to("Opdracht zoeken", tasks_path)%></li>
      <li><%= link_to("Opdracht aanmaken", new_task_path)%></li>
      <li><%= link_to("Hulpverleners bekijken", "/hulpverleners")%></li>
      <li><%= link_to("Over ons", "../over-ons")%></li>
      <li><%= link_to("Contact", "../contact")%></li>
    </ul>
  </div>
</div>