<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowdzorg</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One|Questrial|Antic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->


  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  </head>
  <body class="<%= params[:controller] %>">
    <header>
    <div class="container">
      <div class="row">
        <div class="four columns center-on-phones">
          <%= link_to(image_tag("logo.png"), root_path) %>
          <% unless user_signed_in? %>
          <%= link_to 'Inloggen', new_user_session_path, :class => "show-on-phones magin-bottom"%>
          <%= link_to "Registreren", new_user_registration_path, :class => "show-on-phones" %>
          <%else%>
            <div class="show-on-phones">
              <h6>Ingelogd als: <%=current_user.name%> <%=current_user.surname%></h6>
              <%= link_to('Profiel', user_path(current_user))%> - <%= link_to('Uitloggen', destroy_user_session_path, :method => :delete) %>
             </div>   
            <%end%>
        </div>
        <div class="eight columns">
          <% unless user_signed_in? %>   
              <%= form_for("user", :url => user_session_path, :html => {:class => "nice loginform hide-on-phones"}) do |f| %>
                <%= f.text_field :email, :class => "login-input small input-text", :placeholder => "E-mail" %>
                <%= f.submit 'Log In', :class => "login-input nice x-small radius blue button left" %>
                <%= f.password_field :password, :class => "login-input small input-text", :placeholder => "Wachtwoord"  %>
                <%= f.check_box :remember_me, :class => "left" %>
                <%= f.label :remember_me, "Onthouden", :class =>"login-input" %>
                <p class="loginform-text"> <%= link_to "Registreren", new_user_registration_path %> -  <%= link_to "Wachtwoord vergeten?", new_user_password_path %></p>
              <% end %>
            <%else%>
            <div class="signed-in hide-on-phones">
              <h6><%=current_user.name%> <%=current_user.surname%></h6>
              <ul>
                <li><%= link_to('Profiel', user_path(current_user))%></li>
                <li><%= link_to('Uitloggen', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </div>       
            <%end%>
          </form> 
        </div>
      </div>
      <%= render 'layouts/navigation' %>
      
    </div>
  </header>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
      <div class="twelve columns">
        <p><a href="http://www.mediazorg.nl">Crowdzorg is een onderdeel van Mediazorg.nl - &copy; Mediazorg.nl 2011-2012</a>
        </p>
      </div>
    </div>
    </div>
  </footer>
  </body>
</html>